* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

section div {
    margin-top: 5%;
    text-align: center;
    
}

section div h3 {
    margin: 1%;
   
}

section div h1 {
    margin: 1%;
    
}

section div h4 {
    margin: 1%;
    font-size: larger;
    color: rgb(190, 181, 181);
    letter-spacing: 5px;
}

.imgg {
    position: relative;
    left: 42%;
    background-color: #5bd3f0;
    box-shadow: inset 27px 27px 72px #174744,
    inset -27px -27px 72px #3bb7ae;
    
    

    border-radius: 10rem 10rem 0 0;
    width: 250px;
    height: 300px;
}

img {
    position: relative;
    right: 10%;
    width: 300px;

}
.about h5{
  font-size: medium;
  color: rgb(190, 181, 181);
  

}
.about h1{
    font-size: x-large;
     color: #5bd3f0;
   
  }
  .text{
    border-radius: 10px;
    border: solid .5px #5bd3f0;;
    width: 130vh;
    height: 280px;
    position: relative;
    left: 18%;
    padding: 2%;
    margin-bottom: 50px;
    
    
    
  }
  .text h1{
    margin-top: 5%;
    text-align: center;
    font-size: x-large;
    color: #5bd3f0;
    
 
  }
  .skills{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
  }
 
  .skills ul li{
    padding-top: 10%;
    
    
  }
  
   
    
   
  
@media screen  and (max-width:480px){
  section div h3 {
   font-size: 20px;
}

section div h1 {
    font-size: 20px;
}




.imgg {
   
    left: 21%;
  
}



.about h1{
    font-size: x-large;
    
   
  }
  .text{
    width: 40vh;
    height: 280px;
    left: 12%;
    padding-left: 5%;
   
  
    
    
    
  }
  .text h5{
    font-size: 11px;
  }
 
}
